n8n-workflows/ai-cold-calling-main-workflow.json
{
  "name": "AI Cold Calling - Main Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificSheet",
        "sheetName": "Leads",
        "event": "anyChange",
        "options": {}
      },
      "id": "google-sheets-trigger",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "call-status-pending",
              "leftValue": "={{ $json['Call Status'] }}",
              "rightValue": "Pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-pending-calls",
      "name": "Filter Pending Calls",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Sheets Trigger').item.json.spreadsheetId }}",
          "mode": "expression"
        },
        "sheetName": "Leads",
        "columnToMatchOn": "Phone Number",
        "valueToMatchOn": "={{ $json['Phone Number'] }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Call Status",
              "value": "Calling"
            },
            {
              "column": "Call Date",
              "value": "={{ $now.format('YYYY-MM-DD HH:mm') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-call-status",
      "name": "Update Call Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "call",
        "operation": "make",
        "from": "={{ $vars.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json['Phone Number'] }}",
        "url": "https://theaisalesexpert.co.uk/webhook/twilio/voice",
        "additionalFields": {
          "method": "POST",
          "statusCallback": "https://theaisalesexpert.co.uk/webhook/twilio/status",
          "statusCallbackEvent": ["initiated", "ringing", "answered", "completed"],
          "statusCallbackMethod": "POST"
        }
      },
      "id": "make-twilio-call",
      "name": "Make Twilio Call",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "twilioApi": {
          "id": "twilio-credentials",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-completed",
        "options": {}
      },
      "id": "webhook-call-completed",
      "name": "Webhook - Call Completed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 500],
      "webhookId": "call-completed-webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SPREADSHEET_ID }}",
          "mode": "expression"
        },
        "sheetName": "Leads",
        "columnToMatchOn": "Phone Number",
        "valueToMatchOn": "={{ $json.phoneNumber }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Call Status",
              "value": "Completed"
            },
            {
              "column": "Call Outcome",
              "value": "={{ $json.callOutcome.stillInterested || 'Unknown' }}"
            },
            {
              "column": "Still Interested",
              "value": "={{ $json.callOutcome.stillInterested || 'Unknown' }}"
            },
            {
              "column": "Wants Appointment",
              "value": "={{ $json.callOutcome.wantsAppointment || 'Unknown' }}"
            },
            {
              "column": "Wants Similar Cars",
              "value": "={{ $json.callOutcome.wantsSimilarCars || 'Unknown' }}"
            },
            {
              "column": "Email Address",
              "value": "={{ $json.callOutcome.emailAddress || '' }}"
            },
            {
              "column": "Notes",
              "value": "Call completed. Duration: {{ $json.duration }} minutes"
            }
          ]
        },
        "options": {}
      },
      "id": "update-call-results",
      "name": "Update Call Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-credentials",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "wants-similar-cars",
              "leftValue": "={{ $json.callOutcome.wantsSimilarCars }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "has-email",
              "leftValue": "={{ $json.callOutcome.emailAddress }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-email-needed",
      "name": "Check if Email Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "fromEmail": "{{ $vars.EMAIL_USER }}",
        "toEmail": "={{ $json.callOutcome.emailAddress }}",
        "subject": "Similar Car Options - {{ $json.customerName }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; }\n        .header { background-color: #f4f4f4; padding: 20px; }\n        .content { padding: 20px; }\n        .car-list { margin: 20px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h2>Similar Car Options</h2>\n    </div>\n    <div class=\"content\">\n        <p>Hi {{ $json.customerName }},</p>\n        <p>Thank you for speaking with us today about the {{ $json.carModel }}.</p>\n        <p>As discussed, here are some similar vehicles that might interest you:</p>\n        <div class=\"car-list\">\n            <ul>\n                <li>BMW X3 2023 - Similar features, slightly smaller</li>\n                <li>Audi Q5 2023 - Premium alternative</li>\n                <li>Mercedes GLC 2023 - Luxury option</li>\n            </ul>\n        </div>\n        <p>Please feel free to contact us if you'd like to schedule a viewing or test drive.</p>\n        <p>Best regards,<br>Premium Auto Sales Team</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-similar-cars-email",
      "name": "Send Similar Cars Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 500],
      "credentials": {
        "smtp": {
          "id": "email-credentials",
          "name": "SMTP Email"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter Pending Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Calls": {
      "main": [
        [
          {
            "node": "Update Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Status": {
      "main": [
        [
          {
            "node": "Make Twilio Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Completed": {
      "main": [
        [
          {
            "node": "Update Call Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Results": {
      "main": [
        [
          {
            "node": "Check if Email Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Email Needed": {
      "main": [
        [
          {
            "node": "Send Similar Cars Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ai-cold-calling-main",
  "tags": []
}
