n8n-workflows/ai-cold-calling-workflow_old.json
{
  "name": "AI Cold Calling Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-17 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Schedule Calls",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "sheetName": "Sheet1",
        "range": "A:P",
        "options": {
          "headerRow": true
        }
      },
      "id": "read-google-sheets",
      "name": "Read Leads from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-api",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-pending",
              "leftValue": "={{ $json.call_status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "filter-attempts",
              "leftValue": "={{ parseInt($json.call_attempts) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-leads",
      "name": "Filter Pending Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-leads",
      "name": "Process One Lead at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "sheetName": "Sheet1",
        "columnToMatchOn": "phone_number",
        "valueToMatchOn": "={{ $json.phone_number }}",
        "options": {},
        "fieldsUi": {
          "values": [
            {
              "column": "call_status",
              "value": "in_progress"
            },
            {
              "column": "call_attempts",
              "value": "={{ parseInt($json.call_attempts) + 1 }}"
            },
            {
              "column": "last_call_date",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            }
          ]
        }
      },
      "id": "update-call-status",
      "name": "Update Call Status to In Progress",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-api",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Calls.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "sendBody": true,
        "specifyBody": "form",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.phone_number }}"
            },
            {
              "name": "From",
              "value": "={{ $env.TWILIO_PHONE_NUMBER }}"
            },
            {
              "name": "Url",
              "value": "={{ $env.WEBHOOK_BASE_URL }}/webhook/call/initiate"
            },
            {
              "name": "Method",
              "value": "POST"
            },
            {
              "name": "StatusCallback",
              "value": "={{ $env.WEBHOOK_BASE_URL }}/webhook/call/status"
            },
            {
              "name": "StatusCallbackEvent",
              "value": "initiated,ringing,answered,completed"
            },
            {
              "name": "StatusCallbackMethod",
              "value": "POST"
            }
          ]
        },
        "options": {}
      },
      "id": "initiate-call",
      "name": "Initiate Twilio Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "twilioApi": {
          "id": "twilio-api",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-completed",
        "options": {}
      },
      "id": "webhook-call-completed",
      "name": "Webhook - Call Completed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ],
      "webhookId": "call-completed-webhook"
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "sheetName": "Sheet1",
        "columnToMatchOn": "phone_number",
        "valueToMatchOn": "={{ $json.phone_number }}",
        "options": {},
        "fieldsUi": {
          "values": [
            {
              "column": "call_status",
              "value": "={{ $json.call_status }}"
            },
            {
              "column": "call_duration",
              "value": "={{ $json.call_duration }}"
            },
            {
              "column": "call_notes",
              "value": "={{ $json.call_notes }}"
            },
            {
              "column": "still_interested",
              "value": "={{ $json.extracted_data.still_interested || 'unknown' }}"
            },
            {
              "column": "wants_appointment",
              "value": "={{ $json.extracted_data.wants_appointment || 'unknown' }}"
            },
            {
              "column": "interested_similar",
              "value": "={{ $json.extracted_data.interested_similar || 'unknown' }}"
            },
            {
              "column": "email_address",
              "value": "={{ $json.extracted_data.email_address || '' }}"
            },
            {
              "column": "next_action",
              "value": "={{ $json.extracted_data.email_address ? 'send_similar_cars' : ($json.extracted_data.wants_appointment === 'yes' ? 'schedule_appointment' : 'no_action') }}"
            }
          ]
        }
      },
      "id": "update-call-results",
      "name": "Update Call Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1780,
        300
      ],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-api",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.extracted_data.email_address }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "check-similar-interest",
              "leftValue": "={{ $json.extracted_data.interested_similar }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-send-email",
      "name": "Check if Should Send Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_USER }}",
        "toEmail": "={{ $json.extracted_data.email_address }}",
        "subject": "Similar Car Options - {{ $env.DEALERSHIP_NAME }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .header { background-color: #f4f4f4; padding: 20px; text-align: center; }\n        .content { padding: 20px; }\n        .car-option { border: 1px solid #ddd; margin: 10px 0; padding: 15px; border-radius: 5px; }\n        .footer { background-color: #f4f4f4; padding: 20px; text-align: center; font-size: 12px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h2>{{ $env.DEALERSHIP_NAME }}</h2>\n        <p>Similar Car Options for You</p>\n    </div>\n    \n    <div class=\"content\">\n        <p>Hi {{ $json.customer_name }},</p>\n        \n        <p>Thank you for speaking with us today about the {{ $json.car_model }}. As discussed, here are some similar vehicles that might interest you:</p>\n        \n        <div class=\"car-option\">\n            <h3>Similar Model 1</h3>\n            <p><strong>Year:</strong> 2024</p>\n            <p><strong>Price:</strong> Contact for pricing</p>\n            <p><strong>Features:</strong> Similar features to your original enquiry</p>\n        </div>\n        \n        <div class=\"car-option\">\n            <h3>Similar Model 2</h3>\n            <p><strong>Year:</strong> 2024</p>\n            <p><strong>Price:</strong> Contact for pricing</p>\n            <p><strong>Features:</strong> Enhanced features and options</p>\n        </div>\n        \n        <p>If any of these options interest you, please don't hesitate to contact us at {{ $env.TWILIO_PHONE_NUMBER }} or reply to this email.</p>\n        \n        <p>We look forward to helping you find the perfect vehicle!</p>\n        \n        <p>Best regards,<br>\n        {{ $env.DEFAULT_REP_NAME }}<br>\n        {{ $env.DEALERSHIP_NAME }}</p>\n    </div>\n    \n    <div class=\"footer\">\n        <p>This email was sent because you expressed interest in similar car options during our phone conversation.</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Similar Cars Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2220,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-gmail",
          "name": "SMTP Gmail"
        }
      }
    },
    {
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "sheetName": "Sheet1",
        "columnToMatchOn": "phone_number",
        "valueToMatchOn": "={{ $json.phone_number }}",
        "options": {},
        "fieldsUi": {
          "values": [
            {
              "column": "email_sent",
              "value": "yes"
            }
          ]
        }
      },
      "id": "update-email-sent",
      "name": "Mark Email as Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2440,
        200
      ],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-api",
          "name": "Google Sheets API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Calls": {
      "main": [
        [
          {
            "node": "Read Leads from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads from Google Sheets": {
      "main": [
        [
          {
            "node": "Filter Pending Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Leads": {
      "main": [
        [
          {
            "node": "Process One Lead at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One Lead at a Time": {
      "main": [
        [
          {
            "node": "Update Call Status to In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Status to In Progress": {
      "main": [
        [
          {
            "node": "Initiate Twilio Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Completed": {
      "main": [
        [
          {
            "node": "Update Call Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Results": {
      "main": [
        [
          {
            "node": "Check if Should Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Should Send Email": {
      "main": [
        [
          {
            "node": "Send Similar Cars Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Similar Cars Email": {
      "main": [
        [
          {
            "node": "Mark Email as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ai-calling", "automation", "car-dealership"],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T10:00:00.000Z",
  "versionId": "2.0",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
