n8n-workflows/ai-calling-workflow.json
{
  "name": "AI Cold Calling Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily Call Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "BASE_URL",
              "value": "https://your-app-name.onrender.com"
            },
            {
              "name": "GOOGLE_SHEETS_ID",
              "value": "your_google_sheets_id_here"
            },
            {
              "name": "GOOGLE_SERVICE_ACCOUNT_EMAIL",
              "value": "your-service@project.iam.gserviceaccount.com"
            },
            {
              "name": "GOOGLE_PRIVATE_KEY",
              "value": "-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----"
            },
            {
              "name": "GMAIL_USER",
              "value": "your-email@gmail.com"
            },
            {
              "name": "API_KEY",
              "value": "your_api_key_here"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "serviceAccountEmail": "={{$('Set Configuration').item.json.GOOGLE_SERVICE_ACCOUNT_EMAIL}}",
        "privateKey": "={{$('Set Configuration').item.json.GOOGLE_PRIVATE_KEY}}",
        "operation": "read",
        "documentId": "={{$('Set Configuration').item.json.GOOGLE_SHEETS_ID}}",
        "sheetName": "Customers",
        "range": "A:O",
        "keyRow": 1,
        "dataStartRow": 2
      },
      "id": "google-sheets-read",
      "name": "Get Customer Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-ready-customers",
              "leftValue": "={{$json.Status}}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "has-phone",
              "leftValue": "={{$json.Phone}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-called-today",
              "leftValue": "={{$json['Last Call Date']}}",
              "rightValue": "={{DateTime.now().toFormat('yyyy-MM-dd')}}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-customers",
      "name": "Filter Ready Customers",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-ready-customers",
              "leftValue": "={{$json.Status}}",
              "rightValue": "new",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "has-phone",
              "leftValue": "={{$json.Phone}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-called-today",
              "leftValue": "={{$json['Last Call Date']}}",
              "rightValue": "={{DateTime.now().toFormat('yyyy-MM-dd')}}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-customers",
      "name": "Filter Ready Customers",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-customers",
      "name": "Process One by One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Set Configuration').item.json.BASE_URL}}/api/calls/initiate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Set Configuration').item.json.API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customerId\": \"{{$json.ID}}\",\n  \"phoneNumber\": \"{{$json.Phone}}\"\n}",
        "options": {}
      },
      "id": "initiate-call",
      "name": "Initiate AI Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-between-calls",
      "name": "Wait Between Calls",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "call-success",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-call-success",
      "name": "Check Call Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "serviceAccountEmail": "={{$('Set Configuration').item.json.GOOGLE_SERVICE_ACCOUNT_EMAIL}}",
        "privateKey": "={{$('Set Configuration').item.json.GOOGLE_PRIVATE_KEY}}",
        "operation": "update",
        "documentId": "={{$('Set Configuration').item.json.GOOGLE_SHEETS_ID}}",
        "sheetName": "Customers",
        "range": "H{{$('Process One by One').item.json.row}}:I{{$('Process One by One').item.json.row}}",
        "keyRow": 1,
        "dataMode": "define",
        "data": {
          "values": [
            [
              "={{DateTime.now().toFormat('yyyy-MM-dd')}}",
              "call_initiated"
            ]
          ]
        }
      },
      "id": "update-call-initiated",
      "name": "Update Call Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "serviceAccountEmail": "={{$('Set Configuration').item.json.GOOGLE_SERVICE_ACCOUNT_EMAIL}}",
        "privateKey": "={{$('Set Configuration').item.json.GOOGLE_PRIVATE_KEY}}",
        "operation": "update",
        "documentId": "={{$('Set Configuration').item.json.GOOGLE_SHEETS_ID}}",
        "sheetName": "Customers",
        "range": "H{{$('Process One by One').item.json.row}}:I{{$('Process One by One').item.json.row}}",
        "keyRow": 1,
        "dataMode": "define",
        "data": {
          "values": [
            [
              "={{DateTime.now().toFormat('yyyy-MM-dd')}}",
              "call_failed"
            ]
          ]
        }
      },
      "id": "update-call-failed",
      "name": "Update Call Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Set Configuration').item.json.BASE_URL}}/webhook/n8n/call-completed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callSid\": \"{{$json.data.callSid}}\",\n  \"customerId\": \"{{$('Process One by One').item.json.ID}}\",\n  \"customerName\": \"{{$('Process One by One').item.json.Name}}\",\n  \"timestamp\": \"{{DateTime.now().toISO()}}\"\n}",
        "options": {}
      },
      "id": "webhook-call-completed",
      "name": "Webhook - Call Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$('Set Configuration').item.json.BASE_URL}}/api/calls/statistics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Set Configuration').item.json.API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-statistics",
      "name": "Get Call Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{$('Set Configuration').item.json.GMAIL_USER}}",
        "toEmail": "admin@yourcompany.com",
        "subject": "Daily AI Calling Report - {{DateTime.now().toFormat('yyyy-MM-dd')}}",
        "emailType": "html",
        "message": "=<h2>Daily AI Calling Report</h2>\n<p><strong>Date:</strong> {{DateTime.now().toFormat('yyyy-MM-dd')}}</p>\n\n<h3>Statistics:</h3>\n<ul>\n<li><strong>Total Customers:</strong> {{$json.data.sheets.total}}</li>\n<li><strong>Called Today:</strong> {{$json.data.sheets.calledToday}}</li>\n<li><strong>Interested:</strong> {{$json.data.sheets.interested}}</li>\n<li><strong>Appointments:</strong> {{$json.data.sheets.appointments}}</li>\n<li><strong>Not Interested:</strong> {{$json.data.sheets.notInterested}}</li>\n<li><strong>Pending:</strong> {{$json.data.sheets.pending}}</li>\n</ul>\n\n<h3>Active Conversations:</h3>\n<ul>\n<li><strong>Currently Active:</strong> {{$json.data.conversations.active}}</li>\n<li><strong>Average Turns:</strong> {{$json.data.conversations.averageTurns}}</li>\n</ul>\n\n<p>Report generated at: {{DateTime.now().toFormat('yyyy-MM-dd HH:mm:ss')}}</p>",
        "options": {}
      },
      "id": "send-daily-report",
      "name": "Send Daily Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "gmail-smtp",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "manual-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "manual-call-webhook",
      "name": "Manual Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        500
      ],
      "webhookId": "manual-call-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Set Configuration').item.json.BASE_URL}}/api/calls/initiate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Set Configuration').item.json.API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customerId\": \"{{$json.body.customerId}}\",\n  \"phoneNumber\": \"{{$json.body.phoneNumber}}\"\n}",
        "options": {}
      },
      "id": "manual-call-initiate",
      "name": "Manual Call Initiate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": {{$json.success}},\n  \"message\": \"{{$json.message}}\",\n  \"callSid\": \"{{$json.data.callSid}}\",\n  \"timestamp\": \"{{DateTime.now().toISO()}}\"\n}",
        "options": {}
      },
      "id": "manual-call-response",
      "name": "Manual Call Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bulk-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bulk-call-webhook",
      "name": "Bulk Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        700
      ],
      "webhookId": "bulk-call-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Set Configuration').item.json.BASE_URL}}/api/calls/bulk-initiate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('Set Configuration').item.json.API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customerIds\": {{JSON.stringify($json.body.customerIds)}},\n  \"delay\": {{$json.body.delay || 5000}}\n}",
        "options": {}
      },
      "id": "bulk-call-initiate",
      "name": "Bulk Call Initiate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": {{$json.success}},\n  \"message\": \"{{$json.message}}\",\n  \"results\": {{JSON.stringify($json.data.results)}},\n  \"summary\": {{JSON.stringify($json.data.summary)}},\n  \"timestamp\": \"{{DateTime.now().toISO()}}\"\n}",
        "options": {}
      },
      "id": "bulk-call-response",
      "name": "Bulk Call Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        700
      ]
    }
  ],
  "connections": {
    "Daily Call Trigger": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Get Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Data": {
      "main": [
        [
          {
            "node": "Filter Ready Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Ready Customers": {
      "main": [
        [
          {
            "node": "Process One by One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One by One": {
      "main": [
        [
          {
            "node": "Initiate AI Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initiate AI Call": {
      "main": [
        [
          {
            "node": "Wait Between Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Calls": {
      "main": [
        [
          {
            "node": "Check Call Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Call Success": {
      "main": [
        [
          {
            "node": "Update Call Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Call Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Status": {
      "main": [
        [
          {
            "node": "Webhook - Call Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Completed": {
      "main": [
        [
          {
            "node": "Get Call Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Call Statistics": {
      "main": [
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Call Webhook": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Call Initiate": {
      "main": [
        [
          {
            "node": "Manual Call Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Call Webhook": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bulk Call Initiate": {
      "main": [
        [
          {
            "node": "Bulk Call Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-20T10:00:00.000Z",
      "updatedAt": "2024-01-20T10:00:00.000Z",
      "id": "ai-calling",
      "name": "AI Calling"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-20T10:00:00.000Z",
  "versionId": "1"
}
