n8n-workflows/ai-cold-calling-main-workflow-fixed.json
{
  "name": "AI Cold Calling - Main Workflow (Fixed)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SPREADSHEET_ID }}",
          "mode": "expression"
        },
        "sheetName": "Leads",
        "options": {
          "range": "A:N"
        }
      },
      "id": "read-google-sheets",
      "name": "Read Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [460, 300],
      "credentials": {
        "googleApi": {
          "id": "google-sheets-service-account",
          "name": "Google Sheets Service Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Call Status'] }}",
              "operation": "equal",
              "value2": "Pending"
            }
          ]
        }
      },
      "id": "filter-pending-calls",
      "name": "Filter Pending Calls",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SPREADSHEET_ID }}",
          "mode": "expression"
        },
        "sheetName": "Leads",
        "range": "E{{ $json['__rowNum'] }}",
        "options": {
          "valueInputOption": "RAW"
        },
        "dataMode": "define",
        "valueRange": {
          "values": [
            [
              "Calling"
            ]
          ]
        }
      },
      "id": "update-call-status",
      "name": "Update Call Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [900, 300],
      "credentials": {
        "googleApi": {
          "id": "google-sheets-service-account",
          "name": "Google Sheets Service Account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $vars.TWILIO_ACCOUNT_SID }}/Calls.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyContentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $vars.TWILIO_PHONE_NUMBER }}"
            },
            {
              "name": "To",
              "value": "={{ $json['Phone Number'] }}"
            },
            {
              "name": "Url",
              "value": "https://theaisalesexpert.co.uk/webhook/twilio/voice"
            },
            {
              "name": "Method",
              "value": "POST"
            },
            {
              "name": "StatusCallback",
              "value": "https://theaisalesexpert.co.uk/webhook/twilio/status"
            },
            {
              "name": "StatusCallbackEvent",
              "value": "initiated,ringing,answered,completed"
            },
            {
              "name": "StatusCallbackMethod",
              "value": "POST"
            }
          ]
        },
        "options": {}
      },
      "id": "make-twilio-call",
      "name": "Make Twilio Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "twilio-basic-auth",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-completed",
        "options": {}
      },
      "id": "webhook-call-completed",
      "name": "Webhook - Call Completed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500],
      "webhookId": "call-completed-webhook"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SPREADSHEET_ID }}",
          "mode": "expression"
        },
        "sheetName": "Leads",
        "range": "E{{ $json.rowNumber }}:N{{ $json.rowNumber }}",
        "options": {
          "valueInputOption": "RAW"
        },
        "dataMode": "define",
        "valueRange": {
          "values": [
            [
              "Completed",
              "={{ $now.format('YYYY-MM-DD HH:mm') }}",
              "={{ $json.callOutcome.stillInterested || 'Unknown' }}",
              "={{ $json.callOutcome.stillInterested || 'Unknown' }}",
              "={{ $json.callOutcome.wantsAppointment || 'Unknown' }}",
              "={{ $json.callOutcome.wantsSimilarCars || 'Unknown' }}",
              "={{ $json.callOutcome.emailAddress || '' }}",
              "Call completed. Duration: {{ $json.duration }} minutes",
              "",
              ""
            ]
          ]
        }
      },
      "id": "update-call-results",
      "name": "Update Call Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [460, 500],
      "credentials": {
        "googleApi": {
          "id": "google-sheets-service-account",
          "name": "Google Sheets Service Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.callOutcome.wantsSimilarCars }}",
              "operation": "equal",
              "value2": "Yes"
            },
            {
              "value1": "={{ $json.callOutcome.emailAddress }}",
              "operation": "notEqual",
              "value2": ""
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "check-email-needed",
      "name": "Check if Email Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "fromEmail": "={{ $vars.EMAIL_USER }}",
        "toEmail": "={{ $json.callOutcome.emailAddress }}",
        "subject": "Similar Car Options - {{ $json.customerName }}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; }\n        .header { background-color: #f4f4f4; padding: 20px; }\n        .content { padding: 20px; }\n        .car-list { margin: 20px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h2>Similar Car Options</h2>\n    </div>\n    <div class=\"content\">\n        <p>Hi {{ $json.customerName }},</p>\n        <p>Thank you for speaking with us today.</p>\n        <p>As discussed, here are some similar vehicles that might interest you:</p>\n        <div class=\"car-list\">\n            <ul>\n                <li>BMW X3 2023 - Similar features, slightly smaller</li>\n                <li>Audi Q5 2023 - Premium alternative</li>\n                <li>Mercedes GLC 2023 - Luxury option</li>\n            </ul>\n        </div>\n        <p>Please contact us to schedule a viewing or test drive.</p>\n        <p>Best regards,<br>Premium Auto Sales Team</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-similar-cars-email",
      "name": "Send Similar Cars Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 500],
      "credentials": {
        "smtp": {
          "id": "gmail-smtp",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheets": {
      "main": [
        [
          {
            "node": "Filter Pending Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Calls": {
      "main": [
        [
          {
            "node": "Update Call Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Status": {
      "main": [
        [
          {
            "node": "Make Twilio Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Call Completed": {
      "main": [
        [
          {
            "node": "Update Call Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call Results": {
      "main": [
        [
          {
            "node": "Check if Email Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Email Needed": {
      "main": [
        [
          {
            "node": "Send Similar Cars Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "ai-cold-calling-main-fixed",
  "tags": []
}
